.resume .downloadCV button[type=submit] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    margin-bottom: 20px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.column-images {
    display: block;
    max-width: 100%;
    height: auto;
}

#image-internship {
    margin: 0px auto 50px auto;
}


.documentation_text {
    text-align: justify;
}

tbody .table_first_col {
    padding: 0 20px 5px 0;
}

.portfolio .portfolio-wrap .portfolio-links-mobile {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

    .portfolio .portfolio-wrap .portfolio-links-mobile a {
        
        font-size: 28px;
        text-align: center;
        width: 50%;
        text-decoration: none;
    }

        .portfolio .portfolio-wrap .portfolio-links-mobile a + a {
            border-left: 1px solid #37b3ed;
        }
